*, html {
  margin:0;
  padding:0;  
}


  /* unvisited link */
a:link {
  color: rgb(218, 218, 218);
}

/* visited link */
a:visited {
  color: rgb(164, 164, 164);
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
  cursor: hand;
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
}

.body_index {
  color: rgb(218, 218, 218);
  margin: 0;
  padding: 0;
  background-color: rgb(31, 40, 44);
  background-image: url("img/fomdo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

body {
  color: rgb(218, 218, 218);
  margin: 0;
  padding: 0;
  background-color: rgb(31, 40, 44);
}

/* --------------------------------------------------------------------- */
/* ---------------------- Navigation bar settings ---------------------- */
/* --------------------------------------------------------------------- */

.ul_bar {
  width:100%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  top: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background-color: #1454d5;
  z-index:1;
}

.li_bar {
  float: left;
}

.li_bar a {
    display: block;
    color: white;
    text-decoration: none;
  }
  
.li_bar a:hover {
    background-color: #032d82;
  }
.navbutton_active {
    width: 150px; 
    padding: 22px 0px;
    text-align: center;
    font-family: Arial;
    font-size: 16pt;
    background-color: #053fb2;
    transition: 0.3s
  }
.navbutton {
    width: 150px; 
    padding: 22px 0px;
    text-align: center;
    font-family: Arial;
    font-size: 16pt;
    background-color: #1454d5;
    transition: 0.3s
  }


/* --------------------------------------------------------------------- */
/* ------------------------------ Footer ------------------------------- */
/* --------------------------------------------------------------------- */
  .footer {
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #1454d5;
    padding: 20px 0px;
    margin-right: 100px;
    font-family: sans-serif;
  }


  .column {
    float: right;
  }
  
  /* Left and right column */
  .column.left {
    width: 60%;
  }
  
  /* Middle column */
  .column.right {
    width: 40%;
  }
  
/* Clear floats after the columns */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* --------------------------------------------------------------------- */
/* --------------------------- Welcome Page ---------------------------- */
/* --------------------------------------------------------------------- */

#Welcome{
  font-size: 42pt;
  font-family: sans-serif;
  color: rgb(199, 193, 193);
  margin-bottom: 20%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 20%;
  background-color: #1454d5;
  opacity: 0.7;
  text-align: left;
}

/* --------------------------------------------------------------------- */
/* ---------------------------- About Page ----------------------------- */
/* --------------------------------------------------------------------- */


.p_about{
  font-size: 14pt;
  font-family: sans-serif;
  color: rgb(199, 193, 193);
  margin-bottom: 2%;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 2%;
  text-align: left;
  line-height: 150%;
}

.definition{
  font-size: 14pt;
  font-family: sans-serif;
  color: rgb(199, 193, 193);
  font-style: italic;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #1454d5;
}

.proof{
  font-size: 14pt;
  font-family: 'Courier New';
  color: rgb(199, 193, 193);
  font-style: italic;
  margin-bottom: 2%;
  margin-top: 2%;
}

.h1_about{
  font-size: 35pt;
  font-family: sans-serif;
  font-style: bold;
  color: rgb(199, 193, 193);
  margin-bottom: 1%;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 1%;
  text-align: left;
}


.ul_posts {
  margin-bottom: 1%;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 1%;
}

.li_posts {
  font-size: 20pt;
  margin-bottom: 1%;
  margin-top: 3%;
}

.li_posts a {
  font-size: 22pt;
}

.article_title{
  margin-bottom: 4%;
  font-size: 28pt;
  margin-top: 1%;
  border-bottom: 4px solid #1454d5;
  line-height: 150%;
}