* {
  background-color: rgb(30, 30, 30);
  }
  h1 {
    color: green;
    font-family: sans-serif;
  }
  h2 {
    color: rgb(28, 122, 74);
  }
  h3 {
    color:blueviolet;
  } 
  p {
    font-size: 16pt;
    font-family: serif;
  }

  /* unvisited link */
a:link {
  color: rgb(218, 218, 218);
}

/* visited link */
a:visited {
  color: rgb(164, 164, 164);
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
}

/* selected link */
a:active {
  color: rgb(255, 255, 255);
}

body {
    color: rgb(218, 218, 218);
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 90px;
}


/* ---------------------- Navigation bar settings ---------------------- */
/* --------------------------------------------------------------------- */

#bar ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
  
  #bar li {
    float: left;
  }
  
  #bar li a {
    display: block;
    color: white;
    text-decoration: none;
  }
  
  #bar li a:hover {
    background-color: #005c2b;
  }
  #bar .active {
    background-color: #005c2b;
  }
  #bar .navbutton {
    width: 150px; 
    padding: 30px 0px;
    text-align: center;
  }